.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

.main-intro {
  display: flex;
  flex-direction: row;
  width: 800px;
}
.main-intro h1{
  display: flex;
  flex-direction: column;
}
.main-intro span {
  font-size: 50px;
  color: gray;
  font-style: italic;
}

.metaspan {
  position: fixed;
  right: 0;
  rotate: 90deg;
  margin-top: 50px;
  width: 100px;
}

.introduction-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  flex-wrap: wrap;
}

.pfp {
  width: 300px;
}

.section-title {
  font-style: oblique;
}

.projects-section {
  margin-top: 20%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  padding: 20px;
  border-radius: 20px;
}

.project-div {
  margin-bottom: 100px;
  display: flex;
}

.project-div span{
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
}

.project-div img{
  border-radius: 20px;
  width: 600px;
  height: 400px;
  display: flex;
  font-size: 50px;
  margin-left: 20px;
}

.about-me-section {
  margin-top: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me-section span{
  background-color: #c9c9c9;
  font-size: 25px;
  border-radius: 10px;
  width: 600px;
  padding: 10px;
}
.about-me-section h1{
  font-size: 100px;
  width: 500px;
}

.contact-me-section {
  width: 500px;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  align-content: left;
  flex-direction: column;
}
.contact-me-section div {
  background-color: #c9c9c9;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-icon {
  width: 50px;
  height: 50px;
}
.contact-icon:hover {
  background-color: red;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}