.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

/* introduction section */
.main-intro {
  display: flex;
  flex-direction: row;
/* space created by Daisy the frenchy */
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
.main-intro h1{
  display: flex;
  flex-direction: column;
}
.main-intro span {
  font-size: 40px;
  color: gray;
  font-style: italic;
}

.changing-text {
  height: 300px;
  margin-right: 20px;
}

.scroller-container {
  width: 500px;
  height: 200px;
}
.scroller {
  animation: bounce 3s infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scroller img {
  width: 80px;
}
@keyframes bounce {
  0%   {margin-top: 0px;}
  50%  {margin-top: 100px;}
  100% {margin-top: 0px;}
}

.introduction-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  flex-wrap: wrap;
}

.pfp {
  width: 300px;
}


/* projects section */
.section-title {
  font-style: oblique;
  font-size: 100px;
}

.projects-section {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
}

.project-div {
  background-color: #c9c9c9;
  border-radius: 20px;
  margin-bottom: 100px;
  padding: 5%;
  display: flex;
  flex-direction: row;
}

.project-desc {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.tools-used {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}
.tools-used div{
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
}
.tools-used div:hover {
  cursor: default;
}

.link-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.link-buttons a {
  background-color: whitesmoke;
  padding: 10px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}
.link-buttons a:hover {
  color: white;
  background-color: red;
}

.project-div span{
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
}

.project-div img{
  border-radius: 20px;
  width: 50%;
  height: 50%;
  display: flex;
  font-size: 50px;
  margin-left: 20px;
}

/* about me section */

.about-me-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me-desc {
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  width: 600px;
  padding: 50px;
  border-radius: 20px;
}
.about-me-section span{
  margin-top: 20px;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
}
.about-me-section h1{
  font-size: 100px;
  width: 500px;
}

.technology-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.techstack1 {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.techstack2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.technology-name-icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technology-name-icon-group span{
  font-size: 15px;
  margin-top: -1px;
}
.technology-name-icon-group:hover {
  cursor: default;
}

.technology-stack img{
  width: 40px;
  height: 40px;
}

/* contact me section */
.contact-me-section {
  width: 500px;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  align-content: left;
  flex-direction: column;
}
.contact-me-section div {
  background-color: #c9c9c9;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-icon {
  width: 50px;
  height: 50px;
}
.contact-icon:hover {
  background-color: red;
  border-radius: 10px;
}


/* breakpoints */
@media only screen and (max-width: 1220px) {
  .main-intro {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    height: 300px;
  }
  .main-intro span {
    font-size: 20px;
  }
  .main-intro h1 {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 40px;
  }

  .scroller-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .changing-text {
    display: flex;
    align-items: center;
  }

  .project-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-div img {
    width: 80%;
  }

  .project-desc span {
    width: 100%;
    font-size: 30px;
  }
  .project-desc h2 {
    font-size: 40px;
  }

  .pfp {
    width: 200px;
  }
}