.header {
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.header-span {
    margin-right: 20px;
}

.first-span {
    margin-left: 20%;
}